@use './../../styles/mixins';
@use './../../styles/variables' as *;

.tabs {
  height: 100%;
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.tabList {
  display: flex;
  align-items: center;
  gap: 39px;
  height: 168px;
}

.tabPanelsList {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  @include mixins.card;
  padding: 18px 31px 29px 33px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.tabPanel {
  width: 100%;
  height: 100%;
}

.tab {
  @include mixins.card;
  display: flex;
  flex-direction: column;
  border: none;
  min-width: 144px;
  height: 100%;
  padding: 32px;
  align-items: center;
  cursor: pointer;
  width: 100%;

  &_active {
    color: $main-white;
    background-color: $main-turquoise;
  }

  outline: none;
}

.percentage {
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-bottom: 13px;
  width: 144px;

  &_good {
    color: $main-turquoise;
    background-color: rgba($main-turquoise, 0.15);

    & * {
      fill: $main-turquoise;
    }
  }

  &_bad {
    color: $main-red;
    background-color: rgba($main-red, 0.15);

    & * {
      fill: $main-red;
    }
  }

  &_active {
    color: $main-white;
    background-color: rgba($background-gray, 0.25);

    & * {
      fill: $main-white;
    }
  }
}

.percentageText {
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: -0.56px;
}

.amount {
  font-weight: 600;
  font-size: 28px;
  line-height: 44px;
  letter-spacing: -0.56px;
  color: $main-black;

  &_active {
    color: $main-white;
  }
}

.name {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.56px;
  color: $main-black;

  &_active {
    color: $main-white;
  }
}

.arrowBad {
  transform: rotate(180deg);
}

.legend {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  margin-top: 19px;
  margin-bottom: 0;
}

.tick {
  font-size: 14px;
  font-weight: 600;
}

.tooltip {
  background-color: $main-white;
  border-radius: 6px;
  padding: 7px 7px 7px 7px;
  //margin: 0;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: disc inside;
  box-sizing: border-box;
  border: 1px solid $shadow-gray;
}

.tooltipContainer {
  box-sizing: border-box;

  &::marker {
    color: var(--marker-color);
  }
}

.tooltipText {
  font-weight: 700;
  font-size: 14px;
}
