@use './../../styles/variables' as *;
@use './../../styles/mixins';

.button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 0;
  background-color: $main-white;
  @include mixins.shadow();
  & > svg {
    transform: translateX(-1px);
  }

  cursor: pointer;

  &_right > svg {
    transform: translateX(1px) rotate(180deg);
  }

  &:disabled {
    cursor: default;
    & > svg {
      opacity: 0.5;
    }
  }
}
