$main-black: #323f47;
$main-red: #fc5c65;
$main-yellow: #f7b731;
$main-turquoise: #54d3c2;
$light-turquoise: #a9e9e0bf;
$dark-turquoise: #30898a;
$main-white: #ffffff;
$main-gray: #989fa3;
$shadow-gray: #d2d1d1;

$background-gray: #f8f8f8;
