@font-face {
  src: url(../fonts/proximanova_bold.woff);
  font-family: 'Proxima Nova';
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url(../fonts/proximanova_regular.woff) format('woff');
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-display: swap;
}
