@use 'variables' as *;
@import url(fonts.scss);

:root {
  font-family: 'Proxima Nova', Avenir, Helvetica, Arial, sans-serif;
  line-height: normal;
  font-weight: 600;

  color-scheme: light dark;
  color: $main-black;
  background-color: $main-white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div,
button,
header,
footer,
aside,
main,
nav {
  box-sizing: border-box;
}
