@use './../../styles/variables' as *;

.main {
  background: linear-gradient($main-turquoise, $dark-turquoise);
  width: 100%;
  display: flex;
  min-height: fit-content;
  max-height: 100%;
  box-sizing: border-box;
  padding: 0;
}
