@use './../../styles/variables' as *;

.header {
  width: 100%;
  padding: 49px 38px 49px 40px;
  background-color: $main-white;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
